@font-face {
	font-family: "AurulentSansMono Regular";
	src: url("../fonts/AurulentSansMono-Regular.otf");
}

body {
	font-family: "AurulentSansMono Regular", serif;
	padding: 0;
	margin: 0;
	color: #000;
	background: #eee;
	min-width: 600px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

a {
	color: #777;
}
a:hover,
a:focus {
	color: #333;
}

.small {
	font-size: 0.7em;
}

#content {
	padding: 25px;
	text-align: center;
	max-width: 1000px;
	margin: auto;
}

#license {
	position: fixed;
	top: 20px;
	right : -100px;
	transform: rotate(45deg);
	padding: 10px 100px 7px 100px;
	border: 3px solid #777;
	background: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#mood {
	position: fixed;
	left: 0;
	top: 150px;
	border-left: 0;
	padding: 0;
	background: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	list-style-type: none;
}
#mood li {
	padding: 10px;
	display: block;
	text-align: center;
}
#mood li:hover {
	background: #f0f0f0;
}
#mood li.active {
	background: #ddd;
}
#mood li:not(.active) {
	cursor: pointer;
}

#definition {
	text-align: left;
	width: 500px;
	padding: 15px;
	margin: auto;
	background: #f9f9f9;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
#definition dl {
	margin: 0;
}
#definition dt {
	font-style: italic;
}
#definition dt strong {
	font-size: 1.1em;
}
#definition dd {
	margin: 0;
}
#definition cite {
	display: block;
	text-align: right;
	font-size: 0.9em;
}

footer {
	background: #ddd;
	padding: 10px;
	text-align: center;
	font-size: 0.75em;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/** Bot */

#bot {
	position: relative;
	width: 550px;
	height: 480px;
	margin: auto;
	transform: scale(1);
	max-width: 100%;
}

#bot .main-image {
	width: 500px;
	height: 380px;
	position: absolute;
	top: 50px;
	left: 0;
}

#bot .bubble {
	position: absolute;
	z-index: 5;
	visibility: hidden;
	text-align: center;
}

#bot .bubble-border {
	position: absolute;
	z-index: -1;
}

#bot .bubble-text {
	padding: 0 6px 0 12px;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	margin-top: -6px;
}
#bot .bubble-text-long {
	line-height: 95%;
}

/** Bubble main */
#bot .bubble-main,
#bot .bubble-main .bubble-text {
	width: 200px;
}
#bot .bubble-main {
	line-height: 70px;
	top: 50px;
	right: 10px;
}

/** Bubble reaction */
#bot .bubble-reaction,
#bot .bubble-reaction .bubble-text {
	width: 100px;
}
#bot .bubble-reaction {
	line-height: 25px;
	top: 120px;
	right: 110px;
}

#bot .bubble-reaction-long,
#bot .bubble-reaction-long .bubble-text {
	width: 200px;
}
#bot .bubble-reaction-long {
	line-height: 70px;
	top: 70px;
	right: 5px;
}

/** Bubbles other */
#bot .bubble-other,
#bot .bubble-other .bubble-text {
	width: 200px;
}
#bot .bubble-other {
	line-height: 70px;
	top: 5px;
	left: 50px;
}

/** Bubbles onomatopoeia */
#bot .bubble-onomatopoeia,
#bot .bubble-onomatopoeia .bubble-text {
	width: 70px;
}
#bot .bubble-onomatopoeia {
	line-height: 25px;
}
#bot .bubble-onomatopoeia-1 {
	top: 340px;
	left: 180px;
}
#bot .bubble-onomatopoeia-2 {
	top: 350px;
	left: 350px;
}